version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: taskboard-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: taskboard
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: taskboard-backend
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: taskboard
      FRONTEND_ORIGIN: http://localhost   # Nginx frontend
      PORT: 8080
    depends_on:
      - db
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile   # your optimized nginx Dockerfile
    container_name: taskboard-frontend
    depends_on:
      - backend
    ports:
      - "80:80"   # App reachable on http://localhost

volumes:
  pgdata:
